:root{
    background-color: '';
}

.dark{
--fondoColor: #1A202C;
--navColor: #1A202C;
--linksColor:  #E0E0E0;
--nombreColor:  #E0E0E0;
--homeColor:  #E0E0E0;
--bodyColor: #0f131a;
--tituloColor: gray;
--ContactButtonColor: black;
--ContactButtonFontColor: #E0E0E0;
--ContactButtonHoverColor: #81E6D9;
--ContactButtonHoverFontColor: black;
--linkHoverColor: gray;
--resColor: #1A202C;
--resFontColor:  #E0E0E0;
--condataName:  #E0E0E0;
--fillbutton: fillbuttonDark;
--previewsButtonFontColor: black;
--ContactButtonFontColorTransition: 0.3s;
--mobileNavBorder: white;
--iconContainer: black;
--boxShadowColor: none;
--borderColor: none;

}

.light{
    --boxShadowColor: #DCDCDC;
    --borderColor: #DCDCDC;
    --iconContainer: gray;
    --fondoColor: #ffffff;
    --navColor: #ffffff;
    --linksColor: black;
    --nombreColor: black;
    --homeColor: black;
    --bodyColor: #ffffff;
    --tituloColor: #484848;
    --ContactButtonColor: black;
    --ContactButtonFontColor: white;
    --ContactButtonHoverColor: #30b069;
    --ContactButtonHoverFontColor: black;
    --linkHoverColor: #787878;
    --resColor: white;
    --resFontColor: black;
    --condataName: black;
    --fillbutton: fillbuttonLight;
    --previewsButtonFontColor: black;
    --ContactButtonFontColorTransition: 0s;
    --mobileNavBorder:  #787878;;
    
}


$fontFamily: Roboto, system-ui;