@import '../abstracts/variables.scss';

$fontColor: dimgray;

#condata{
    top: 25vh;
    left: 20vw;
    font-weight: bold;
    font-size: large;
    font-family: $fontFamily;
}

.condataName{
    color: var(--linksColor);
}

#email{
 font-weight: normal;
 font-size: 16.5px;
 font-family: Arial,system-ui ;
 color: $fontColor;
 
}

#number{
    font-weight: normal;
    font-size: 16.5px;
    color: $fontColor;
    font-family: $fontFamily;
}

#loc{
    font-weight: normal;
    font-size: 16.5px;
    color: $fontColor;
    font-family: $fontFamily;
}