$height: 33vw;
$width: 68.4288vw;

$borderRadius: 11px;

@keyframes moveImage {
    from{left: -4vw; opacity: 0;}
    to{left: 15vw; opacity: 1;}
}


@mixin images(){
    top: 10vh;
    height: $height;
    opacity: 1;
    left: 15vw;
    width: $width;
    border-radius: $borderRadius;
    animation: moveImage 0.6s ease-in forwards;
    margin-bottom: 14vh;
    &:hover{
        animation: none;
    }

    }

@keyframes moveNavUp {
    from{top: 10vh; }
    to{top: 0vh;}
}

#previewsNav{
    height: 10vh;
    position: sticky;
    z-index: 3;
    background-color: black;
    width:"110vw";
    padding-top: "10vh"; 
    left : "0vh";
    animation: moveNavUp 0.4s ease-in forwards;
    line-height: 10vh;
}


#previewsContent{
    .previewsImages{
     @include images();

      
    }

    #coloroverRe{
        @include images();
    }

    #coloroverMa{
        @include images();
    }

    #coloroverFr{
        @include images();
    }

    .previewsButton{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 54vh;
        width: 140px;
        background-color: #E0E0E0;
    }
}

@media screen and (max-width: 1100px) {
    #previewsNav{
        display: none;
    }

    #previewsContent{
        top: 20vh;
        .previewsImages{
            
            @include images();
             width: 100vw;  
             height: 40vh;
             animation: 'none'
           }
       
           #coloroverRe{
            @include images();
            animation: 'none'
           }
       
           #coloroverMa{
            @include images();
            animation: 'none'
           }
       
           #coloroverFr{
            @include images();
            animation: 'none'
           }
       
           

    }
}

