$height: 33vw;
$width: 68.4288vw;

$borderRadius: 11px;

@keyframes moveImage {
    from{left: -4vw; opacity: 0;}
    to{left: 15vw; opacity: 1;}
}

@mixin images($animation){
    top: 2vh;
    height: $height;
    width: $width;
    border-radius: $borderRadius;
    animation: $animation 0.6s ease-in forwards;
    margin-bottom: 14vh;
}

#previewsNav{
    height: 5vh;
    
}

#previewsContent{
    .previewsImages{
     @include images(moveImage);

      &:hover{
        
      }
    }

    #coloroverRe{
        @include images(moveImage);
    }

    #coloroverMa{
        @include images(moveImage);
    }

    #coloroverFr{
        @include images(moveImage);
    }

    .previewsButton{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 54vh;
        width: 140px;
        background-color: #E0E0E0;
    }
}

@media screen and (max-width: 1100px) {
    #previewsNav{
        display: none;
    }

    #previewsContent{
        top: 20vh;
        .previewsImages{
            
            @include images(none);
             width: 100vw;  
             height: 40vh;
             
           }
       
           #coloroverRe{
            @include images(none);
           }
       
           #coloroverMa{
            @include images(none);
           }
       
           #coloroverFr{
            @include images(none);
           }
       
           

    }
}

