@import '../abstracts/variables.scss';
//average desktop
$animationDuration: 0.5s;
$width: 20vw;
$servicesMobileheight: 300px;
$uiMobileTop: 90px;
$skill-height: 302.22px;
$con-height: 229.95px;
$margin-bottom: 0px;
$mobileMarginBotton: 0px;
$mobileAnimation: mobile 0.3s ease-in forwards;

@mixin skillsq($bcolor, $fcolor,){
    background-color: $bcolor;
    color: $fcolor;
    height: $skill-height;
    width: $width;
    display: inline-block;
    margin-left: 3.5vw;
    top: 17vh;
    left: 6vw;
    font-size: 26px;
    position: relative;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    }

    @keyframes moveui {
      from{left: -10vw; opacity: 0; }
      to{left: 6vw; opacity: 1;}
    }

    @keyframes moveres {
      from{top: -2vh; opacity: 0;}
      to{top: 11vh; opacity: 1;}
    }

    @keyframes movefront {
      from{top: 42vh; opacity: 0;}
      to{top: 27vh; opacity: 1;}
    }

  @mixin con($fontColor){
     top: 0.3vh;
     color: $fontColor;
     font-family: $fontFamily;
     height: $con-height;
     width: $width;
     font-size: 17px;
     background-color: transparent;
     border-radius: 5px;
     text-align: left;
     
     line-height: 24px;
     font-weight: normal;
     
    }
    
    
#ui{
 @include skillsq(#8a63d2, var(--linksColor) );
 
 animation: moveui $animationDuration ease-in forwards;
 
 
 #uicon{
     @include con(var(--linksColor));
     
 }
}

#front{
    @include skillsq(black, #E0E0E0);
    animation: movefront $animationDuration ease-in forwards;
    
    top: 27vh;
    #frontcon{
        @include con(gray);
    }
}

#res{
    @include skillsq(var(--resColor), black);
    animation: moveres $animationDuration ease-in  forwards;
    color: var(--resFontColor);
    border: solid gray thin;
    #rescon{
        @include con(gray)
       }
}


//big screen
@media screen and(min-width: 1400px), 
screen and (min-height: 1190px){
  #ui{
    top: 18vh;
  }

  @keyframes moveres {
    from{top: 4vh; opacity: 0;}
    to{top: 17vh; opacity: 1;}
  }

 
}

@media screen and(min-width: 2000px){
  #ui{
    top: 20vh;
  }

  @keyframes moveres {
    from{top: 0px; opacity: 0;}
    to{top: 17vh; opacity: 1;}
  }

 
}


@media screen and(min-width: 1700px){
  #ui{
    height: 35vh;
  }
  
  #front{
    height: 35vh;
  }

  #res{
    height: 35vh;
  }
}

//small screen
@media screen and (max-height: 660px){
  $servicesHeight: 280px;
  #ui{
    height: $servicesHeight;
  }
  
  #front{
    height: $servicesHeight;
  }

  #res{
    height: $servicesHeight;
  }
}


//mobile or tablet
@media screen and (max-width: 1005px){
  @keyframes mobile {
    from{left: -60vw;}
    to{left: -7vw;}   
  }
  
  @keyframes appear {
    from{opacity: 0;}
    to{opacity: 1;}   
  }
 
  #ui{
   display: block;
   position: relative;
   left: -7vw;
   width: 97vw;
   top: 100px;
   height: $servicesMobileheight;
   animation:  mobile 0.4s ease-in forwards, appear 0.6s ease-in forwards;
   margin-bottom: 0;
   font-size: 25px;
    #uicon{
        width: 97vw;
        animation: none;
        font-size: 17px;
    }
   
  }

  #front{
    animation: none;
    display: block;
    top: 135px;
    animation:  mobile 0.5s ease-in forwards,  appear 0.6s ease-in forwards;
    position: relative;
    left: -7vw;
    margin-top: 0vh;
    width: 97vw;
    margin-bottom: 0;
    height: $servicesMobileheight;
    
    #frontcon{
        width: 97vw;
    }
  }

  #res{
    top: 170px;
    display: block;
    margin-top: 0vh;
    margin-right: 4vw;
    animation:  mobile 0.6s ease-in forwards,  appear 0.6s ease-in forwards;
    position: relative;
    left: -7vw;
    width: 97vw;
    
    height: $servicesMobileheight;
    #rescon{
      width: 97vw;
      
  }
    }
}