@import '../abstracts/variables.scss';

#abcon{
    position: relative;
    
    
    #aboutmemo{
        font-family: $fontFamily;
        position: relative;
        top: 20vh;
        display: none;
        font-size: 20px;
        color: dimgray;
        
    }

    #aboutmede{
        font-family: $fontFamily;
        position: relative;
        top: 15vh;
        font-size: 18px;
        color: dimgray;
        text-align: center;
        left: -1vw;    
        line-height: 1.6;
    }
}

#heading{
    font-family: $fontFamily;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 32px;
    left: -1vw;
    color: var(--linksColor);
    position: relative;
    top: 15vh;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #heading{
        top: 18vh;
        
    }

    
   #abcon{
       #aboutmemo{
         display: inline-block;
         text-align: center;
         font-size: 18px;
         line-height: 1.6;
       }

       #aboutmede{
        display: none;
    }
   }
}


@media screen and (min-width: 1400px){
    #heading{
        top: 25vh;
        
    }

    #abcon{
        
 
        #aboutmede{
         top: 25vh;
     }
    }
}