#dropcon{
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  left: -10vw;
  #link{
    
    color: #E0E0E0;
    text-decoration: none;
    font-family: Roboto;   
    font-size: 40px;
    position: relative;
    top: 15vh;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
}


#daniel{
  color: var(--linksColor);
}

#close{
    position: relative;
    left: 87vw;
    top: 5vh;
    font-weight: bold;
    font-size: 22px;
    color: var(--linksColor);
}



