#dropcon{
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
  

  #link{
    color: var(--linksColor);
    text-decoration: none;
    font-family: Roboto;   
    font-size: 40px;
    position: relative;
    left: 120px;
    top: 15vh;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
}

#daniel{
  color: var(--linksColor);
}

#close{
    position: relative;
    left: 87vw;
    top: 5vh;
    font-weight: bold;
    font-size: 22px;
    color: var(--linksColor);
}



