
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../abstracts/variables.scss';

body{
  margin: 0;
  
}  

#con{
    position: relative;
    top: 17vh;
    left: 13vw;
    
  }
 
  div{
    font-family: $fontFamily;
    position: relative;
    cursor: default;
    margin-bottom: 4vh;
  }
  
  #nombre{
    top: 12vh;
      margin-left: 10vw;
      font-weight: bold;
      font-size: 30px;
      color: var(--nombreColor);
  }
  #titulo{
    top: 12vh;
    margin-left: 10vw;
    font-size: 18px;
    color: var(--tituloColor);
    
  }
  
  #contactLink{
    color:  var(--ContactButtonFontColor);
  }

  Button{
    background-color: var(--ContactButtonColor);
    border: none;
    text-decoration: none;
    color:  var(--ContactButtonFontColor);
    font-weight: bold;
    position: relative;
    top: 12vh;
    margin-left: 10vw;
    height: 48px;
    letter-spacing: 0.0625rem;
    font-size: 16px;
    outline:none;
    width: 105.22px;
    font-family: $fontFamily;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
    transition: color var(--ContactButtonFontColorTransition);
    

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-radius: 0px;
      height: 100%;
      background-color: var(--ContactButtonHoverColor);
      transition: width ease-out 0.3s;
      z-index: -1;
      
      }
    
 
    &:hover{
      
      color: var(--ContactButtonHoverFontColor);
      
      &::before{
        
        width: 100%;
      }

      
    }
  }
  
 



body{
  background-color: var(--bodyColor) ;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: white;
    
  }

  &::-webkit-scrollbar-thumb{
     background-color: black;
     height: 100px;
     border-left: 3px solid white;
    border-right: 3px solid white;
    
  }


  
}

@media screen and (max-width: 1100px) {
  button{
    &:hover{
      &::before{
        width: 0%;
      }
    }
  }
}

::-moz-selection { 
  color: black;
  background: #30b069;
}

::selection {
  color: black;
  background: dimgray;
}