@import '../abstracts/variables.scss';

$mobileNavButtonsTop: 60px;

#mobileHomeButton{
    display: none;
    
    
}

#bars{
    display: none;
  }

#nav{
    top: 10vh;
    position: relative;
    z-index: 5;
    background-color:  var(--navColor);
    width: 89.99vw;
    padding-bottom: 1.7vh;

    p{
      color:  white;
      position: relative;
      top: 0vh;
      left: 5vw;
      display: inline-block;
      margin-left: 5vw;
      font-size: 16.188px;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        color: gray;
      }
      
    }
    .rnav{
      z-index: 5;
      left: 35vw;
      
    }
  }
  
  .links{
    font-family: $fontFamily;
    font-weight: bold;
    margin-left: 6vw;
    text-decoration: none;
    color:  var(--linksColor);
    position: relative;
    left: 35vw;
    &:hover{
      color: var(--linkHoverColor);
    }
  }

  #icon{
    left: 33vw;
    margin-left: 6vw;
    display: inline-block;
    height: 33px;
    text-align: center;
    width: 33px;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
      background-color: #282828;
    }
  }

  #home{
    font-family: $fontFamily;
    margin-left: 6vw;
    font-weight: bold;
    text-decoration: none;
    color: var(--homeColor);
    position: relative;
    left: 15vh;
    &:hover{
      color: gray;
    }
  }

  #mobileNav{
    display: none;
  }

  
@media screen and (max-width: 1024px)  {
   #modeIcon{
    display: none;
    
   }

   
   
   #dropDownIcon{
    background-color: #E0E0E0;
    height: 8vh;
    width: 10vw;
    position: relative;
    
   }

  #mobileNav{
   display: inline-block;
   position: relative;
   background-color: black;
   z-index: 5;
   position: fixed;
   overflow-y: hidden;
   transition: height 0.5s;
   padding-left: 50px;
   left: -10px;
   height: 14vh;
   top: -4vh;
   width: 100vw;
   
   
  #mobileHomeButton{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #E0E0E0;
    z-index: 5;
    position: absolute;
    top: $mobileNavButtonsTop;

  }

  #icon{
    left: 45vw;
    position: absolute;
    top: $mobileNavButtonsTop;
  }

  #dropDownIconContainer{
    position: absolute;
    height: 37px;
    width: 37px;
    display: inline-block;
    top: 55px;
    left: 75vw;
    z-index: 5;
    
    }

  #bars{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    display: inline-block;
    z-index: 5;
    top: 5px;
    font-size: 23.2px;
    color: #E0E0E0;
  }
}

  #nav{
    display: none;
    
  }



body{
  background-color: var(--fondoColor);
}

#fondo{
  
  #nav{
    
    p{
      font-size: 12px;
    }
  }
  #titulo{
    font-size: 20px;
    margin-left: 0vw;
    
  }

  #nombre{
    position: relative;
    margin-left: 0vw;
  }

  button{
    width: 100px;
    margin-left: 0vw;
    background-color:  var(--ContactButtonColor);
    color: var(--ContactButtonFontColor);
  }

  
}

  }