$height: 33vw;
$width: 68.4288vw;

#imacon{
    display: inline-block;
    top: 8vh;
    left: -3vw;
    
    #imlepa{
        display: inline-block;
        position: absolute;
        
        
    }

    #imle{
        transition: left 0.7s;
        margin-top: 11vh;
        display: inline-block;
        left: 0vw;
        top: 1.5vh;

        #coloroverMa{
            height: $height;
            width: $width;
            background-color: black;
        }

        #coloroverFr{
            margin-top: 11vh;
            height: $height;
            width: $width;
            background-color: black;
            margin-top: 20vh;
        }

        #coloroverRe{
            margin-top: 5vh;
            height: $height;
            width: $width;
            &:hover{
                background-color: black;
            }
        }


        
        img{
            height: $height;
            width: $width;
            cursor: default;
            &:hover{
                opacity: 0.5;
            }
           
        }

        button{
            top: -15vh;
            height: 48px;
            width: 150px;
            color: black;
            left: 17vw;
            
            background-color: white;
            border-radius: 100px;
            
            &:hover{
                background-color: #30b069;
                border: white;
            } 
            margin-bottom: 17vh;
        }

        

        height: 20vh;
        width: 17vh;
    }

   #imrepa{
       display: inline-block;
       
       left: 8vw;
   }

    #imre{
        transition: left 0.5s;
        display: inline-block;
        left: 57vw;
        top: 1.5vh;
        
       
        img{
            margin-top: 0vh;
            height: 19.3vw;
            width: 40vw;
            cursor: normal;
            &:hover{
                opacity: 0.5;
            }
            
        }

        button{
            top: 3.3vh;
            left: 0vw;
            
            height: 48px;
            background-color: #30b069;
            border-radius: 100px;
            &:hover{
                color: black;
            }
            
        }
        height: 20vh;
        width: 17vh;
        
    }

}

@media screen and (max-width:600px) {

   #imacon{
    #imle{
        transition: left 0s;
        button{
            margin-bottom: 20vh;
            left: 95px;
            top: 7.3vh;
            margin-left: 20px;
            font-weight: bold;
        }
        img{
            position: relative;
            left: -30px;
            height: 40vh;
            width: 97vw;
            &:hover{
                opacity: 1;
            }
        }
    }

    #imre{
        transition: left 0s;
        button{
            margin-bottom: 20vh;
            left: 95px;
            margin-left: 20px;
            top: 13.3vh;
        }

        img{
            position: relative;
            height: 40vh;
            left: -30px;
            width: 97vw;
            &:hover{
                opacity: 1;
            }
        }
    }
    
   }

    #imlepa{
        
        display: block;
        
    }

    #imrepa{
        margin-top: 6vh;
        left: -37vw;
        top: 130vh;
        display: block;
        
    }
}



