@mixin skillsq($bcolor){
    
    background-color: $bcolor;
    color: white;
    height: 16vh;
    width: 20vw;
    display: inline-block;
    margin-left: 3.5vw;
    top: 17vh;
    left: 6vw;
    font-size: 26px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    }

  @mixin con{
     top: 0.3vh;
     color: #999;
     font-family: Roboto, Arial, ;
     height: 35vh;
     width: 20vw;
     font-size: 18px;
     background-color: #111;
     border-radius: 5px;
     text-align: left;
     line-height: 3.2vh;
     font-weight: lighter
    }

#ui{
 @include skillsq(#8a63d2);
 
 
 #uicon{
     @include con();
     
 }
}

#front{
    @include skillsq(black);
    #frontcon{
        @include con();
    }
}

#res{
    @include skillsq(#30b069);
    #rescon{
        @include con()
       }
}


@media screen and (max-width:600px) {
  #ui{
   display: block;
   position: relative;
   left: -7vw;
   width: 97vw;
    #uicon{
        width: 97vw;
    }
   
  }

  #front{
    display: block;
    margin-top: 38vh;
    position: relative;
    left: -7vw;
    width: 97vw;
    #frontcon{
        width: 97vw;
    }
  }

  #res{
    display: block;
    margin-top: 38vh;
    margin-right: 4vw;
    position: relative;
    left: -7vw;
    width: 97vw;
    #rescon{
      width: 97vw;
      
  }
    
  }


}