
//average desktop
$animationDuration: 0.5s;
$width: 20vw;
$skill-height: 302.22px;
$con-height: 229.95px;

#fondoSkills{
  background-color: var(--fondoColor);
  position: relative;
  margin: auto;
  height: 85vh;
  width: 90vw;
  border-radius: 10px;
  top: 7.1vh;
  
  
  #daniel{
    display: none;
    
     
  }


  #bars{
    display: none;
  }


  #nav{
    top: 16vh;
    position: fixed;
    z-index: 5;
    background-color:  var(--navColor);
    width: 89.99vw;
    padding-bottom: 1.7vh;

    p{
      
      color:  white;
      position: relative;
      top: 0vh;
      left: 5vw;
      display: inline-block;
      margin-left: 5vw;
      font-size: 16.188px;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        color: gray;
      }
      
    }
    .rnav{
      z-index: 5;
      left: 35vw;
      
    }
  }
  
  .links{
    font-family: Roboto, Arial,system-ui;
    font-weight: bold;
    margin-left: 6vw;
    text-decoration: none;
    color:  var(--linksColor);
    position: relative;
    left: 35vw;
    &:hover{
      color: var(--linkHoverColor);
    }
  }

  #icon{
    left: 33vw;
    margin-left: 6vw;
    display: inline-block;
    line-height: 41px;
    height: 33px;
    text-align: center;
    width: 33px;
    border-radius: 4px;
    &:hover{
      cursor: pointer;
      background-color: var(--bodyColor);
    }
  }

  #home{
    font-family: Roboto, Arial;
    font-weight: bold;
    margin-left: 6vw;
    text-decoration: none;
    color: var(--homeColor);
    position: relative;
    left: 15vh;
    &:hover{
      color: gray;
    }
  }

  #con{
    position: relative;
    top: 15vh;
    left: 13vw;
    
  }
 
  div{
    font-family: $myfont;
    position: relative;
    cursor: default;
    margin-bottom: 4vh;
  }
  #nombre{
    top: 12vh;
      margin-left: 10vw;
      font-weight: bold;
      font-size: 30px;
      color: var(--nombreColor);
  }
  #titulo{
    top: 12vh;
    margin-left: 10vw;
    font-size: 18px;
    color: var(--tituloColor);
    
  }

  button{
    background-color: var(--ContactButtonColor);
    border: none;
    color: var(--ContactButtonFontColor);
    font-weight: bold;
    position: relative;
    top: 12vh;
    margin-left: 10vw;
    height: 48px;
    letter-spacing: 0.0625rem;
    font-size: 16px;
    outline:none;
    width: 105.22px;
    font-family: $myfont;
    overflow: hidden;
    border-radius: 100px;
    z-index: 1;
    cursor: pointer;
    border: none;
    
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--ContactButtonHoverColor);
      transition: all 0.3s;
      z-index: -1;
      }
      
    &:hover{
      color: var(--ContactButtonHoverFontColor);
      &::before{
        width: 100%;
      }
    }
  }
}


@mixin skillsq($bcolor, $fcolor,){
    background-color: $bcolor;
    color: $fcolor;
    height: $skill-height;
    width: $width;
    display: inline-block;
    margin-left: 3.5vw;
    top: 17vh;
    left: 6vw;
    font-size: 26px;
    position: relative;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    }

    @keyframes moveui {
      from{left: -8vw; opacity: 0; }
      to{left: 6vw; opacity: 1;}
    }

    @keyframes moveres {
      from{top: 0vh; opacity: 0;}
      to{top: 11vh; opacity: 1;}
    }

    @keyframes movefront {
      from{top: 40vh; opacity: 0;}
      to{top: 27vh; opacity: 1;}
    }

  @mixin con($fontColor){
     top: 0.3vh;
     color: $fontColor;
     font-family: Arial,system-ui ;
     height: $con-height;
     width: $width;
     font-size: 18px;
     background-color: transparent;
     border-radius: 5px;
     text-align: left;
     
     line-height: 24px;
     font-weight: lighter;
     
    }
    

#ui{
 @include skillsq(#8a63d2, white );
 
 animation: moveui $animationDuration ease-in forwards;
 
 
 #uicon{
     @include con(white);
     
 }
}

#front{
    @include skillsq(black,white);
    animation: movefront $animationDuration ease-in forwards;
    
    top: 27vh;
    #frontcon{
        @include con(gray);
    }
}

#res{
    @include skillsq(var(--resColor), black);
    animation: moveres $animationDuration ease-in  forwards;
    color: var(--resFontColor);
    border: solid gray thin;
    #rescon{
        @include con(gray)
       }
}

@media screen and (max-width: 1100px) {
  #fondoSkills{
    #danielpa{
      display: block;
     background-color: var(--fondoColor);
     position: fixed;
     z-index: 5;
     padding-top: 10vh;
     padding-left: 50px;
     top: -3vh;
     top: -30px;
     left: -10px;
     width: 100vw;
     transition: top 0.5s;
    #daniel{
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      
      z-index: 5;
    }

    #icon{
      left: 43vw;
      top: 0px;
    }

    #bars{
      position: fixed;
      display: inline-block;
      z-index: 5;
      left: 87vw;
      font-size: 23.2px;
      color: var(--linksColor);
    }
  }

    #nav{
      display: none;
    }
  }
}


//big desktop
@media screen and(min-width: 1700px){
  
 
  #ui{
    height: 35vh;
  }
  
  #front{
    height: 35vh;
  }

  #res{
    height: 35vh;
  }
}


//mobile or tablet
@media screen and (max-width: 1005px) {
  #ui{
   display: block;
   position: relative;
   left: -7vw;
   width: 97vw;
   
   animation: none;
    #uicon{
        width: 97vw;
        animation: none;
    }
   
  }

  #front{
    animation: none;
    display: block;
    top: 40vh;
    position: relative;
    left: -7vw;
    margin-top: -19vh;
    width: 97vw;
    #frontcon{
        width: 97vw;
    }
  }

  #res{
    display: block;
    margin-top: 34vh;
    margin-right: 4vw;
    position: relative;
    left: -7vw;
    width: 97vw;
    #rescon{
      width: 97vw;
      
  }
    
  }


}