
//average desktop
$animationDuration: 0.5s;
$width: 20vw;
$skill-height: 302.22px;
$con-height: 229.95px;

@mixin skillsq($bcolor, $fcolor,){
    background-color: $bcolor;
    color: $fcolor;
    height: $skill-height;
    width: $width;
    display: inline-block;
    margin-left: 3.5vw;
    top: 17vh;
    left: 6vw;
    font-size: 26px;
    position: relative;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    }

    @keyframes moveui {
      from{left: -8vw; opacity: 0; }
      to{left: 6vw; opacity: 1;}
    }

    @keyframes moveres {
      from{top: 0vh; opacity: 0;}
      to{top: 11vh; opacity: 1;}
    }

    @keyframes movefront {
      from{top: 40vh; opacity: 0;}
      to{top: 27vh; opacity: 1;}
    }

  @mixin con($fontColor){
     top: 0.3vh;
     color: $fontColor;
     font-family: Arial,system-ui ;
     height: $con-height;
     width: $width;
     font-size: 18px;
     background-color: transparent;
     border-radius: 5px;
     text-align: left;
     
     line-height: 24px;
     font-weight: lighter;
     
    }
    

#ui{
 @include skillsq(#8a63d2, white );
 
 animation: moveui $animationDuration ease-in forwards;
 
 
 #uicon{
     @include con(white);
     
 }
}

#front{
    @include skillsq(black,white);
    animation: movefront $animationDuration ease-in forwards;
    
    top: 27vh;
    #frontcon{
        @include con(gray);
    }
}

#res{
    @include skillsq(#1A202C,black);
    animation: moveres $animationDuration ease-in  forwards;
    color: white;
    border: solid gray thin;
    #rescon{
        @include con(gray)
       }
}


//big desktop
@media screen and(min-width: 1700px){
  
 
  #ui{
    height: 35vh;
  }
  
  #front{
    height: 35vh;
  }

  #res{
    height: 35vh;
  }
}


//mobile or tablet
@media screen and (max-width: 1005px) {
  #ui{
   display: block;
   position: relative;
   left: -7vw;
   width: 97vw;
   
   animation: none;
    #uicon{
        width: 97vw;
        animation: none;
    }
   
  }

  #front{
    animation: none;
    display: block;
    top: 40vh;
    position: relative;
    left: -7vw;
    margin-top: -19vh;
    width: 97vw;
    #frontcon{
        width: 97vw;
    }
  }

  #res{
    display: block;
    margin-top: 34vh;
    margin-right: 4vw;
    position: relative;
    left: -7vw;
    width: 97vw;
    #rescon{
      width: 97vw;
      
  }
    
  }


}