#abcon{
    position: relative;
    
    
    #aboutmemo{
        font-family: Arial,system-ui;
        position: relative;
        top: 20vh;
        display: none;
        font-size: 20px;
        color: dimgray;
        

    }

    #aboutmede{
        font-family: Arial,system-ui;
        position: relative;
        top: 30vh;
        font-size: 18px;
        color: dimgray;
        text-align: center;
        
    }
}

#heading{
    font-family: Roboto, Arial, system-ui,;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 32px;
    color: black;
    position: relative;
    top: 30vh;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    #heading{
        top: 18vh;
        
    }
   #abcon{
       #aboutmemo{
         display: inline-block;
         text-align: center;
         font-size: 18px;
         line-height: 28px;
       }

       #aboutmede{
        display: none;
    }
   }
}
