#dropcon{
  p{
  font-family: Roboto;   
  font-size: 40px;
  position: relative;
  left: 120px;
  top: 15vh;
  font-weight: bold;
  margin-bottom: 50px;
  }
}

#barspres{
    position: relative;
    left: 82.2vw;
    top: 6.3vh;
    font-size: 22px;
}