#dropcon{
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
  

  #link{
    color: black;
    text-decoration: none;
    font-family: Roboto;   
    font-size: 40px;
    position: relative;
    left: 120px;
    top: 15vh;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
}

#daniel{
  color: black;
}

#barspres{
    position: relative;
    left: 77.9vw;
    top: 5vh;
    font-size: 22px;
}