@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#imacon {
  display: inline-block;
  top: 16vh;
  left: 0vw;
}
#imacon #imlepa {
  display: inline-block;
  position: absolute;
}
#imacon #imle {
  transition: left 0.5s;
  margin-top: 11vh;
  display: inline-block;
  left: 0vw;
  top: 1.5vh;
  height: 20vh;
  width: 17vh;
}
#imacon #imle #coloroverMa {
  height: 30vh;
  width: 28vw;
  background-color: black;
}
#imacon #imle #coloroverFr {
  margin-top: 11vh;
  height: 30vh;
  width: 28vw;
  background-color: black;
}
#imacon #imle img {
  height: 30vh;
  width: 28vw;
  cursor: pointer;
}
#imacon #imle img:hover {
  opacity: 0.5;
}
#imacon #imle button {
  top: 3.3vh;
  height: 5.5vh;
  font-weight: bold;
  background-color: #30b069;
  border-radius: 6px;
  margin-bottom: 17vh;
}
#imacon #imle button:hover {
  color: black;
}
#imacon #imrepa {
  display: inline-block;
  position: absolute;
}
#imacon #imre {
  transition: left 0.5s;
  display: inline-block;
  left: 57vw;
  top: 1.5vh;
  height: 20vh;
  width: 17vh;
}
#imacon #imre #coloroverRe {
  margin-top: 11vh;
  height: 30vh;
  width: 28vw;
}
#imacon #imre #coloroverRe:hover {
  background-color: black;
}
#imacon #imre img {
  margin-top: 0vh;
  height: 30vh;
  width: 28vw;
  cursor: pointer;
}
#imacon #imre img:hover {
  opacity: 0.5;
}
#imacon #imre button {
  top: 3.3vh;
  left: 0vw;
  font-weight: bold;
  height: 5.5vh;
  background-color: #30b069;
  border-radius: 6px;
}
#imacon #imre button:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  #imacon #imle {
    transition: left 0s;
  }
  #imacon #imle button {
    margin-bottom: 20vh;
    left: 67px;
    margin-left: 20px;
    font-weight: bold;
  }
  #imacon #imle img {
    position: relative;
    left: -30px;
    width: 97vw;
  }
  #imacon #imle img:hover {
    opacity: 1;
  }
  #imacon #imre {
    transition: left 0s;
  }
  #imacon #imre button {
    margin-bottom: 20vh;
    left: 67px;
    margin-left: 20px;
  }
  #imacon #imre img {
    position: relative;
    left: -30px;
    width: 97vw;
  }
  #imacon #imre img:hover {
    opacity: 1;
  }
  #imlepa {
    display: block;
  }
  #imrepa {
    margin-top: 6vh;
    left: -40vw;
    top: 125vh;
    display: block;
  }
}
#condata {
  top: 25vh;
  left: 20vw;
  font-weight: bold;
  font-size: large;
}

#email {
  font-weight: normal;
  font-size: medium;
}

#number {
  font-weight: normal;
  font-size: medium;
}

#loc {
  font-weight: normal;
  font-size: medium;
}

#ui {
  background-color: #8a63d2;
  color: white;
  height: 16vh;
  width: 20vw;
  display: inline-block;
  margin-left: 3.5vw;
  top: 17vh;
  left: 6vw;
  font-size: 25px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
#ui #uicon {
  top: 0.3vh;
  color: #999;
  font-family: Roboto;
  height: 35vh;
  width: 20vw;
  font-size: 17px;
  background-color: #111;
  border-radius: 5px;
  text-align: left;
  line-height: 3.2vh;
  font-weight: lighter;
}

#front {
  background-color: black;
  color: white;
  height: 16vh;
  width: 20vw;
  display: inline-block;
  margin-left: 3.5vw;
  top: 17vh;
  left: 6vw;
  font-size: 25px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
#front #frontcon {
  top: 0.3vh;
  color: #999;
  font-family: Roboto;
  height: 35vh;
  width: 20vw;
  font-size: 17px;
  background-color: #111;
  border-radius: 5px;
  text-align: left;
  line-height: 3.2vh;
  font-weight: lighter;
}

#res {
  background-color: #3178c6;
  color: white;
  height: 16vh;
  width: 20vw;
  display: inline-block;
  margin-left: 3.5vw;
  top: 17vh;
  left: 6vw;
  font-size: 25px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
#res #rescon {
  top: 0.3vh;
  color: #999;
  font-family: Roboto;
  height: 35vh;
  width: 20vw;
  font-size: 17px;
  background-color: #111;
  border-radius: 5px;
  text-align: left;
  line-height: 3.2vh;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  #ui {
    display: block;
    position: relative;
    left: -7vw;
    width: 97vw;
  }
  #ui #uicon {
    width: 97vw;
  }
  #front {
    display: block;
    margin-top: 38vh;
    position: relative;
    left: -7vw;
    width: 97vw;
  }
  #front #frontcon {
    width: 97vw;
  }
  #res {
    display: block;
    margin-top: 38vh;
    margin-right: 4vw;
    position: relative;
    left: -7vw;
    width: 97vw;
  }
  #res #rescon {
    width: 97vw;
  }
}
#fondo {
  background-color: white;
  position: relative;
  margin: auto;
  height: 85vh;
  width: 90vw;
  border-radius: 10px;
  top: 3.3vh;
}
#fondo #daniel {
  display: none;
}
#fondo #bars {
  display: none;
}
#fondo #nav {
  top: 16vh;
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 89.99vw;
  padding-bottom: 1.7vh;
  transition: top 0.5s;
}
#fondo #nav p {
  color: black;
  position: relative;
  top: 0vh;
  left: 5vw;
  display: inline-block;
  margin-left: 5vw;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
}
#fondo #nav p:hover {
  color: #787878;
}
#fondo #nav .rnav {
  z-index: 5;
  left: 35vw;
}
#fondo .links {
  font-family: Roboto;
  font-weight: bold;
  margin-left: 6vw;
  text-decoration: none;
  color: black;
  position: relative;
  left: 35vw;
}
#fondo .links:hover {
  color: #787878;
}
#fondo #home {
  font-family: Roboto;
  font-weight: bold;
  margin-left: 6vw;
  text-decoration: none;
  color: black;
  position: relative;
  left: 15vh;
}
#fondo #home:hover {
  color: #787878;
}
#fondo #con {
  position: relative;
  top: 15vh;
  left: 13vw;
}
#fondo div {
  font-family: Roboto;
  position: relative;
  cursor: default;
  margin-bottom: 4vh;
}
#fondo #nombre {
  top: 12vh;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 30px;
}
#fondo #titulo {
  top: 12vh;
  margin-left: 10vw;
  font-size: 1.3vw;
  color: #484848;
}
#fondo button {
  background-color: #073042;
  border: none;
  color: white;
  font-weight: bold;
  position: relative;
  top: 12vh;
  margin-left: 10vw;
  height: 48px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  outline: none;
  width: 7.8vw;
  font-family: Roboto;
  border-radius: 100px;
  cursor: pointer;
}
#fondo button:hover {
  background-color: #30b069;
}

body {
  background-color: #E7E7E7;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  height: 100px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

@media screen and (max-width: 600px) {
  #fondo #danielpa {
    background-color: white;
    position: fixed;
    z-index: 5;
    padding-top: 10vh;
    padding-left: 50px;
    top: -3vh;
    top: -30px;
    left: -10px;
    width: 100vw;
    transition: top 0.5s;
  }
  #fondo #danielpa #daniel {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
  }
  #fondo #danielpa #bars {
    position: fixed;
    display: inline-block;
    z-index: 5;
    left: 80vw;
    font-size: 22px;
  }
  #fondo #nav {
    display: none;
  }
  body {
    background-color: white;
  }
  #fondo #nav p {
    font-size: 12px;
  }
  #fondo #titulo {
    font-size: 20px;
    margin-left: 0vw;
  }
  #fondo #nombre {
    position: relative;
    margin-left: 0vw;
  }
  #fondo button {
    width: 100px;
    margin-left: 0vw;
    background-color: #30b069;
  }
}/*# sourceMappingURL=home.css.map */