@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#imacon {
  display: inline-block;
  top: 2vh;
  left: 0vw;
}
#imacon #imlepa {
  display: inline-block;
  position: absolute;
}
@keyframes moveImage {
  from {
    left: -4vw;
    opacity: 0;
  }
  to {
    left: 10vw;
    opacity: 1;
  }
}
#imacon #imle {
  animation: moveImage 0.6s ease-in forwards;
  margin-top: 11vh;
  display: inline-block;
  position: relative;
  top: 1.5vh;
  height: 20vh;
  width: 17vh;
}
#imacon #imle #coloroverMa {
  margin-top: -6vh;
  height: 33vw;
  width: 68.4288vw;
  background-color: black;
  border-radius: 11px;
}
#imacon #imle #coloroverFr {
  margin-top: -6vh;
  height: 33vw;
  width: 68.4288vw;
  background-color: black;
  border-radius: 11px;
}
#imacon #imle #coloroverRe {
  margin-top: 2vh;
  height: 33vw;
  width: 68.4288vw;
  border-radius: 11px;
}
#imacon #imle #coloroverRe:hover {
  background-color: black;
}
#imacon #imle img {
  height: 33vw;
  width: 68.4288vw;
  cursor: default;
  border-radius: 11px;
}
#imacon #imle img:hover {
  opacity: 0.5;
}
#imacon #imle button {
  top: -16vh;
  height: 48px;
  width: 150px;
  color: black;
  left: 15vw;
  background-color: white;
  border-radius: 100px;
  margin-bottom: 17vh;
}
#imacon #imle button:hover {
  background-color: #30b069;
  border: white;
}
#imacon #imrepa {
  display: inline-block;
  left: 8vw;
}
#imacon #imre {
  transition: left 0.5s;
  display: inline-block;
  left: 57vw;
  top: 1.5vh;
  height: 20vh;
  width: 17vh;
}
#imacon #imre img {
  margin-top: 0vh;
  height: 19.3vw;
  width: 40vw;
  cursor: normal;
}
#imacon #imre img:hover {
  opacity: 0.5;
}
#imacon #imre button {
  top: 3.3vh;
  left: 0vw;
  height: 48px;
  background-color: #30b069;
  border-radius: 100px;
}
#imacon #imre button:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  #imacon #imle {
    margin-left: 5vw;
    animation: none;
  }
  #imacon #imle button {
    margin-bottom: 20vh;
    left: 95px;
    top: 7.3vh;
    margin-left: 20px;
    font-weight: bold;
  }
  #imacon #imle button:hover {
    color: black;
    background-color: white;
  }
  #imacon #imle img {
    position: relative;
    left: -30px;
    height: 40vh;
    width: 97vw;
  }
  #imacon #imle img:hover {
    opacity: 1;
  }
  #imacon #imre {
    transition: left 0s;
  }
  #imacon #imre button {
    margin-bottom: 20vh;
    left: 95px;
    margin-left: 20px;
    top: 13.3vh;
  }
  #imacon #imre img {
    position: relative;
    height: 40vh;
    left: -30px;
    width: 97vw;
  }
  #imacon #imre img:hover {
    opacity: 1;
  }
  #imlepa {
    display: block;
  }
  #imrepa {
    margin-top: 6vh;
    left: -37vw;
    top: 130vh;
    display: block;
  }
}
#condata {
  top: 25vh;
  left: 20vw;
  font-weight: bold;
  font-size: large;
  font-family: Roboto, Arial, system-ui;
}

#email {
  font-weight: normal;
  font-size: 16.5px;
  font-family: Arial, system-ui;
  color: dimgray;
  font-family: Roboto, Arial, system-ui;
}

#number {
  font-weight: normal;
  font-size: 16.5px;
  color: dimgray;
  font-family: Roboto, Arial, system-ui;
}

#loc {
  font-weight: normal;
  font-size: 16.5px;
  color: dimgray;
  font-family: Roboto, Arial, system-ui;
}

@keyframes moveui {
  from {
    left: -8vw;
    opacity: 0;
  }
  to {
    left: 6vw;
    opacity: 1;
  }
}
@keyframes moveres {
  from {
    top: 0vh;
    opacity: 0;
  }
  to {
    top: 13.7vh;
    opacity: 1;
  }
}
@keyframes movefront {
  from {
    top: 40vh;
    opacity: 0;
  }
  to {
    top: 27vh;
    opacity: 1;
  }
}
#ui {
  background-color: #8a63d2;
  color: white;
  height: 46vh;
  width: 20vw;
  display: inline-block;
  margin-left: 3.5vw;
  top: 17vh;
  left: 6vw;
  font-size: 26px;
  position: relative;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  animation: moveui 0.5s ease-in forwards;
}
#ui #uicon {
  top: 0.3vh;
  color: white;
  font-family: Arial, system-ui;
  height: 35vh;
  width: 20vw;
  font-size: 18px;
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  line-height: 3.2vh;
  font-weight: lighter;
}

#front {
  background-color: black;
  color: white;
  height: 46vh;
  width: 20vw;
  display: inline-block;
  margin-left: 3.5vw;
  top: 17vh;
  left: 6vw;
  font-size: 26px;
  position: relative;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  animation: movefront 0.5s ease-in forwards;
  top: 27vh;
}
#front #frontcon {
  top: 0.3vh;
  color: gray;
  font-family: Arial, system-ui;
  height: 35vh;
  width: 20vw;
  font-size: 18px;
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  line-height: 3.2vh;
  font-weight: lighter;
}

#res {
  background-color: white;
  color: black;
  height: 46vh;
  width: 20vw;
  display: inline-block;
  margin-left: 3.5vw;
  top: 17vh;
  left: 6vw;
  font-size: 26px;
  position: relative;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  animation: moveres 0.5s ease-in forwards;
  border: solid gray thin;
}
#res #rescon {
  top: 0.3vh;
  color: black;
  font-family: Arial, system-ui;
  height: 35vh;
  width: 20vw;
  font-size: 18px;
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  line-height: 3.2vh;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  #ui {
    display: block;
    position: relative;
    left: -7vw;
    width: 97vw;
    animation: none;
  }
  #ui #uicon {
    width: 97vw;
    animation: none;
  }
  #front {
    animation: none;
    display: block;
    top: 40vh;
    position: relative;
    left: -7vw;
    margin-top: -19vh;
    width: 97vw;
  }
  #front #frontcon {
    width: 97vw;
  }
  #res {
    display: block;
    margin-top: 34vh;
    margin-right: 4vw;
    position: relative;
    left: -7vw;
    width: 97vw;
  }
  #res #rescon {
    width: 97vw;
  }
}
body {
  margin: 0;
}

#fondo {
  background-color: white;
  position: relative;
  margin: auto;
  height: 85vh;
  width: 90vw;
  border-radius: 10px;
  top: 3.3vh;
}
#fondo #daniel {
  display: none;
}
#fondo #bars {
  display: none;
}
#fondo #nav {
  top: 16vh;
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 89.99vw;
  padding-bottom: 1.7vh;
}
#fondo #nav p {
  color: black;
  position: relative;
  top: 0vh;
  left: 5vw;
  display: inline-block;
  margin-left: 5vw;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
}
#fondo #nav p:hover {
  color: #787878;
}
#fondo #nav .rnav {
  z-index: 5;
  left: 35vw;
}
#fondo .links {
  font-family: Roboto, Arial, system-ui;
  font-weight: bold;
  margin-left: 6vw;
  text-decoration: none;
  color: black;
  position: relative;
  left: 35vw;
}
#fondo .links:hover {
  color: #787878;
}
#fondo #home {
  font-family: Roboto, Arial;
  font-weight: bold;
  margin-left: 6vw;
  text-decoration: none;
  color: black;
  position: relative;
  left: 15vh;
}
#fondo #home:hover {
  color: #787878;
}
#fondo #con {
  position: relative;
  top: 15vh;
  left: 13vw;
}
#fondo div {
  font-family: Roboto, Arial, system-ui;
  position: relative;
  cursor: default;
  margin-bottom: 4vh;
}
#fondo #nombre {
  top: 12vh;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 30px;
}
#fondo #titulo {
  top: 12vh;
  margin-left: 10vw;
  font-size: 1.3vw;
  color: #484848;
}
#fondo button {
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  position: relative;
  top: 12vh;
  margin-left: 10vw;
  height: 48px;
  letter-spacing: 0.0625rem;
  font-size: 16px;
  outline: none;
  width: 7.8vw;
  font-family: Roboto, Arial, system-ui;
  border-radius: 100px;
  cursor: pointer;
}
#fondo button:hover {
  background-color: #30b069;
  color: black;
}

body {
  background-color: #E7E7E7;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  height: 100px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

@media screen and (max-width: 600px) {
  #fondo #danielpa {
    background-color: white;
    position: fixed;
    z-index: 5;
    padding-top: 10vh;
    padding-left: 50px;
    top: -3vh;
    top: -30px;
    left: -10px;
    width: 100vw;
    transition: top 0.5s;
  }
  #fondo #danielpa #daniel {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    z-index: 5;
  }
  #fondo #danielpa #bars {
    position: fixed;
    display: inline-block;
    z-index: 5;
    left: 80vw;
    font-size: 23.2px;
    color: black;
  }
  #fondo #nav {
    display: none;
  }
  body {
    background-color: white;
  }
  #fondo #nav p {
    font-size: 12px;
  }
  #fondo #titulo {
    font-size: 20px;
    margin-left: 0vw;
  }
  #fondo #nombre {
    position: relative;
    margin-left: 0vw;
  }
  #fondo button {
    width: 100px;
    margin-left: 0vw;
    background-color: black;
    color: white;
  }
}
::-moz-selection {
  color: black;
  background: #30b069;
}

::selection {
  color: black;
  background: dimgray;
}/*# sourceMappingURL=home.css.map */