$myfont:  Roboto;

#fondo{
  background-color:white;
  position: relative;
  margin: auto;
  height: 85vh;
  width: 90vw;
  border-radius: 10px;
  top: 6.3vh;
  
  #nav{
    p{
      position: relative;
      top: 6vh;
      left: 5vw;
      display: inline-block;
      margin-left: 5vw;
      font-size: 1.2vw;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        color: #787878;
      }
    }
    .rnav{
      
      left: 35vw;
    }
  }
  
  #con{
    position: relative;
    top: 3vh;
    left: 13vw;
  }
 
  div{
    font-family: $myfont;
    position: relative;
    cursor: default;
    margin-bottom: 4vh;
  }
  #nombre{
    top: 12vh;
      margin-left: 10vw;
      font-weight: bold;
      font-size: 30px;
  
  }
  #titulo{
    top: 12vh;
    margin-left: 10vw;
    font-size: 1.3vw;
   
  }

  button{
    background-color: #073042;
    border: none;
    color: white;
    position: relative;
    top: 12vh;
    margin-left: 10vw;
    height: 48px;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    outline:none;
    font-weight: 500;
    width: 7.8vw;
    font-family: $myfont;
    border-radius: 100px;
    cursor: pointer;
    &:hover{
      background-color: #30b069;
    }
  }
}

body{
  background-color: #E7E7E7;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: white;
    
  }

  &::-webkit-scrollbar-thumb{
     background-color: black;
     height: 100px;
     border-left: 3px solid white;
    border-right: 3px solid white;
    
  }


  
}

@media screen and (max-width:600px) {
  
  #nav{
    p{
      font-size: 12vw;
    }
  }
}