$myfont:  Roboto,Arial,system-ui;
@import "portfolio","contact","skills";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  
}   

#fondo{
  background-color:white;
  position: relative;
  margin: auto;
  height: 85vh;
  width: 90vw;
  border-radius: 10px;
  top: 3.3vh;
  
  #daniel{
    display: none;
    
     
  }


  #bars{
    display: none;
  }


  #nav{
    top: 16vh;
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 89.99vw;
    padding-bottom: 1.7vh;

    p{
      
      color: black;
      position: relative;
      top: 0vh;
      left: 5vw;
      display: inline-block;
      margin-left: 5vw;
      font-size: 16.188px;
      font-weight: bold;
      cursor: pointer;
      &:hover{
        color: #787878;
      }
      
    }
    .rnav{
      z-index: 5;
      left: 35vw;
      
    }
  }
  
  .links{
    font-family: Roboto, Arial,system-ui;
    font-weight: bold;
    margin-left: 6vw;
    text-decoration: none;
    color: black;
    position: relative;
    left: 35vw;
    &:hover{
      color: #787878;
    }
  }

  #home{
    font-family: Roboto, Arial;
    font-weight: bold;
    margin-left: 6vw;
    text-decoration: none;
    color: black;
    position: relative;
    left: 15vh;
    &:hover{
      color: #787878;
    }
  }

  #con{
    position: relative;
    top: 15vh;
    left: 13vw;
    
  }
 
  div{
    font-family: $myfont;
    position: relative;
    cursor: default;
    margin-bottom: 4vh;
  }
  #nombre{
    top: 12vh;
      margin-left: 10vw;
      font-weight: bold;
      font-size: 30px;
  
  }
  #titulo{
    top: 12vh;
    margin-left: 10vw;
    font-size: 18px;
    color: #484848;
    
  }

  button{
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: 12vh;
    margin-left: 10vw;
    height: 48px;
    letter-spacing: 0.0625rem;
    font-size: 16px;
    outline:none;
    width: 105.22px;
    font-family: $myfont;
    overflow: hidden;
    border-radius: 100px;
    z-index: 1;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #30b069;
      transition: all 0.3s;
      border-radius: 100px;
      z-index: -1;
    }
    &:hover{
      color: black;
      &::before{
        width: 100%;
      }
    }
  }
}



body{
  background-color: #E7E7E7;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: white;
    
  }

  &::-webkit-scrollbar-thumb{
     background-color: black;
     height: 100px;
     border-left: 3px solid white;
    border-right: 3px solid white;
    
  }


  
}

@media screen and (max-width: 1100px) {

  #fondo{
    #danielpa{
     background-color: white;
     position: fixed;
     z-index: 5;
     padding-top: 10vh;
     padding-left: 50px;
     top: -3vh;
     top: -30px;
     left: -10px;
     width: 100vw;
     transition: top 0.5s;
    #daniel{
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      
      z-index: 5;
    }

    #bars{
      position: fixed;
      display: inline-block;
      z-index: 5;
      left: 80vw;
      font-size: 23.2px;
      color: black;
    }
  }

    #nav{
      display: none;
    }
  }
  

  body{
    background-color: white;
  }
  
  #fondo{
    
    #nav{
      p{
        font-size: 12px;
      }
    }
    #titulo{
      font-size: 20px;
      margin-left: 0vw;
      
    }

    #nombre{
      position: relative;
      margin-left: 0vw;
    }

    button{
      width: 100px;
      margin-left: 0vw;
      background-color: black;
      color: white;
    }

    
  }
  
}

::-moz-selection { 
  color: black;
  background: #30b069;
}

::selection {
  color: black;
  background: dimgray;
}